
@model WebUI.Models.OrderVM;
@{
    ViewData["Title"] = "Order Online";
}

<div class="dropdown">
    <button class="btn btn-primary" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
        <span id="selected">Chose option</span><span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Dirt", "Dirt", "Orders", new OrderVM{ CustomerId = Model.CustomerId, ProductId = 1})</li>
        <li>@Html.ActionLink("Rocks", "Rocks", "Orders", new OrderVM{ CustomerId = Model.CustomerId, ProductId = 2})</li>
        <li>@Html.ActionLink("Dirt with Rocks", "DirtWRocks", "Orders", new OrderVM{ CustomerId = Model.CustomerId, ProductId = 3})</li>
        <li>@Html.ActionLink("RocksWDirt", "Orders", new OrderVM{ CustomerId = Model.CustomerId, ProductId = 4})</li>
    </ul>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}