
@model WebUI.Models.OrderVM;
@{
    ViewData["Title"] = "FindOrder";
}

<h1>Find an Order</h1>

<div class="container">
    <div class="row">
        <div class="col-md col-lg-6">
            <form asp-action="FindOrderResults">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OrderId" class="control-label"></label>
                    <input asp-for="OrderId" class="form-control" />
                    <span asp-validation-for="OrderId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
