

@{ ViewData["Title"] = "Admin"; }

<h1>Welcome to JoeyBob's Dirt Super Supply</h1>

<h4>What chew wan?</h4>

<div class="container">
    <div class="row mt-4">
        <btn class="col-4 btn-primary" onclick="location.href='@Url.Action("FindCustomer", "Admin")'">
            Find a Customer
        </btn>
    </div>
    <div class="row mt-4">
        <btn class="col-4 btn-primary" onclick="location.href='@Url.Action("FindOrder", "Admin")'">
            Track an Order
        </btn>
    </div>
    <div class="row mt-4">
        <btn class="col-4 btn-primary" onclick="location.href='@Url.Action("ViewAllLocations", "Admin")'">
            View all Locations
        </btn>
    </div>
    <div class="row mt-5">
        <a href="https://dirtempire.scm.azurewebsites.net/api/vfs/LogFiles/http/RawLogs/">
            <img alt="Logs" scr="https://images.vexels.com/media/users/3/149814/isolated/preview/dd85f467228f32690ee8830737cd17fa-forest-tree-log-cartoon-by-vexels.png">
        </a>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
