
@model WebUI.Models.CustomerVM;
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to JoeyBob's Dirt Super Supply</h1>

<h4>What chew wan?</h4>

<div class="container">
    <div class="row mt-4">
        <button class="col-4 btn-primary" >
            @Html.ActionLink("Buy Online Now", "Index", "Orders", new { CustomerId = Model.CustomerId })
        </button>
    </div>
    <div class="row mt-4">
        <button class="col-4 btn-primary">
            @Html.ActionLink("Find a Location", "GetLocations", "Home")
        </button>
    </div>
    <div class="row mt-4">
        <button class="col-4 btn-primary">
            @Html.ActionLink("Check on Your Orders", "GetOrders", "Orders", new { CustomerId = Model.CustomerId })
        </button>
    </div>
</div>
