
@model WebUI.Models.CustomerVM;
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to JoeyBob's Dirt Super Supply</h1>

<h4>What chew wan?</h4>

<div class="container">
    <div class="row mt-4">
        <btn class="col-4 btn-primary" >
            @Html.ActionLink("Buy Online Now", "Index", "Orders", new { CustomerId = Model.CustomerId })
            Buy Online Now
        </btn>
    </div>
    <div class="row mt-4">
        <btn class="col-4 btn-primary" onclick="location.href='@Url.Action("UserOrders", "Home")'">
            @Html.ActionLink("Find a Location", "Index", "Orders", new { CustomerId = Model.CustomerId })
        </btn>
    </div>
    <div class="row mt-4">
        <btn class="col-4 btn-primary">
            @Html.ActionLink("Buy Online Now", "GetOrders", "Orders", new { CustomerId = Model.CustomerId })
        </btn>
    </div>
</div>
